.uib-datepicker {
  .btn-default {
    border: none;
  }
}

.form-control {
  border: solid 1px #d2d2d2;
  font-size: 12px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.popover {
  width: 270px;
  max-width: 270px;
}

.popover-content {
  padding: 0 14px;
  position: relative;
}

.nav-tabs {
  border: none;
}