<div class="row">
    <div class="left-side col-xs-9">
        <date-control></date-control>
        <filter-dashboard></filter-dashboard>
        <time-control start-time="vm.startTime" size-hour="vm.sizeHour"></time-control>
        <driver-chart-time start-time="vm.startTime" size-hour="vm.sizeHour"></driver-chart-time>
        <driver-chart-time start-time="vm.startTime" size-hour="vm.sizeHour"></driver-chart-time>
        <driver-chart-time start-time="vm.startTime" size-hour="vm.sizeHour"></driver-chart-time>
        <driver-chart-time start-time="vm.startTime" size-hour="vm.sizeHour"></driver-chart-time>
        <!--<job-on-map></job-on-map>-->
    </div>
    <div class="right-side col-xs-3">
        <uib-tabset>
            <uib-tab heading="TODAY'S JOBS ({{1}})">
                <job-tab></job-tab>
            </uib-tab>
            <uib-tab heading="TASKS ({{8}})">Tab 2 content</uib-tab>
        </uib-tabset>
    </div>
</div>