.range-container {
  width: 100%;
}

.border-bottom-time {
  border-bottom: 1px #3c3c3c solid
}

.row-time:before, .row-time:after {
  content: "";
  display: table;
  clear: both;
}

.range-time {
  width: 100% /($number-of-hour + 2);
  float: left;
}

.row-time {
  .border-time {
    border-left: 1px #dedede solid;
    border-bottom: 2px #dedede solid;
  }
  .border-time:last-child {
    border-right: 1px #dedede solid;
  }
}

.button-time {

  width: 100% /($number-of-hour + 2);
  float: left;
  border-bottom: 2px #dedede solid;
  button {
    min-width: 40px;
  }
}

.button-time-next {
  border-left: 1px #dedede solid;
}

.min-height-range-time {
  .range-time, .button-time {
    min-height: 26px;
  }
}

.center-text-hour {
  transform: translate(-3%, -0%);
}

.row-job {
  border-bottom: 1px #dedede solid;
  height: 80px;
}

.row-job:before, .row-job:after {
  content: "";
  display: table;
  clear: both;
}

.job-cell {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80%;
  top: 10%;
  border-radius: 4px;
  padding-left: 10px;
  padding-top: 5px;
  position: absolute;
}

.driver-text {
  float: left;
  font-size: 13px;
  width: 100% /($number-of-hour + 2);
  line-height: 80px;
  span {
    vertical-align: middle;
  }
}

.job-item {
  font-size: 12px;
  background-color: white;
  margin: 0;
  border-radius: 4px;
  padding: 11px 0;
  a {
    color: $main-color;
  }
  .col-xs-12 {
    margin-top: 10px;
    p {
      margin-bottom: 5px;
    }
    .voucher-movement {
      margin-top: 15px;
    }
  }
}

[ng-drag] {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ng-drop].drag-enter {
  border: 1px #dedede solid;
  border-radius: 4px;
  background-color: #ebebeb;
}

[ng-drag].drag-over {
  border: solid 1px #0b93d5;
}

[ng-drag].dragging {
  opacity: 0.5;
}

.angular-google-map-container {
  height: 400px;
}

.date-control-button {
  color: $main-color;
  cursor: pointer;
}

.date-control {
  font-size: 18px;
}

.display-mode-button button {
  padding-left: 18px;
  padding-right: 18px;
}

.completed-item {
  background-color: $completed-color;
  color: white;
}

.pending-item {
  background-color: $pending-color;
  color: white;
}

.not-start-item {
  background-color: $not-start-color;
  color: white;
}

.completed-text {
  color: $completed-color;
}

.pending-text {
  color: $pending-color;
}

.not-start-text {
  color: $not-start-color;
}

.text-item {
  font-size: 12px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.jobTab {
  > .col-xs-12 {
    margin-top: 15px;
  }
  > .col-xs-12:last-child {
    margin-bottom: 15px;
  }
}

.job-completed {
  background-color: #ebf6ee;
  border: solid 1px $completed-color;
  .driver-job {
    color: $completed-color;
  }
}

.job-unassign {
  background-color: #ffffff;
  border: solid 1px #cfdff2;
  .driver-job {
    color: $not-start-color;
  }
}

.job-pending {
  background-color: #faf3ed;
  border: solid 1px $pending-color;
  .driver-job {
    color: $pending-color;
  }
}

.current-time-label {
  position: absolute;
  width: 8%;
  border: 1px solid $pending-color;
  border-radius: 4px;
  padding-top: 5px;
  div {
    text-align: center;
    label {
      color: $pending-color;
    }
  }
}

.current-time-vertial-top {
  position: absolute;
  width: 8%;
  top: 29px;
  div {
    width: 50%;
    border-right: 1px solid $pending-color;
    height: 14px;
  }
}

.current-time-vertial {
  position: absolute;
  width: 8%;
  left: 50%;
  bottom: 0;
  z-index: 100;
  div {
    width: 50%;
    border-right: 1px solid $pending-color;
    height: 80px;
  }
}

.drap-time {
  position: absolute;
  width: 100% /($number-of-hour + 2) / 2;;
  height: 100%;
}