<ng-map map-type-control="false" street-view-control="false" zoom="14" center="{{'Singpapore'}}"
        zoom-control-options='{style:"small"}'
        style="height: 600px">
    <marker id='{{job.id}}' position="{{job.address}}" ng-repeat="job in vm.jobs"
            on-click="vm.showDetail(job)"></marker>
    <info-window id="job-info">
        <div ng-non-bindable="">
            address: {{vm.currentJob.address}}
            title: {{vm.currentJob.title}}
        </div>
    </info-window>
    <custom-control id="home" position="TOP_RIGHT" index="1">
        <input places-auto-complete size=80 class="form-control"
               ng-model="vm.address"
               component-restrictions="{country:'sg'}"
               types="{{'address'}}"
               on-place-changed="vm.placeChanged()" /> <br/>
    </custom-control>
</ng-map>