<div class="job-cell" ng-drag="vm.job.status !== vm.status.completed" ng-drag-data="vm.job"
     context-menu="vm.menuOptions" ng-drop="vm.isTaskActive" model="vm.job"
     ng-center-anchor="false"
     ng-class="{'completed-item': vm.job.status === vm.status.completed, 'pending-item': vm.job.status === vm.status.pending, 'not-start-item': vm.job.status === vm.status.unassign}"
     ng-style="vm.job.style" ng-if="vm.job.isDisplay"
     uib-popover-template="vm.dynamicPopover.templateUrl"
     popover-trigger="'outsideClick'"
     popover-placement="{{'bottom'}}">
    <p class="text-item">{{vm.job.title}}</p>
</div>

<script type="text/ng-template" id="myPopoverTemplate.html">
    <div class="job-detail-popover">
        <a class="pull-right click-able">Detail</a>
        <h5>Replacement</h5>
        <p>Plate no: SGR 1451, SDG 6496</p>
        <p>Driver name: Latif</p>
        <p>Client name: Joseph Phua</p>
        <p>Client contact: 8100 5445</p>
        <p>Pickup address: Ethoz Tampines</p>
        <p>Delivery address: 20 Ubi Ave 4, Singapore 422165</p>
        <p>Start time: 4:01 PM</p>
        <p>End time: NA</p>
        <label>Assigned Tasks:</label>
        <div class="task-in-job">
            <div class="cirle-status task-complete">
                <i class="fa fa-circle"></i>
            </div>
            <div class="task-in-job-detail">
                Document Signing 4:01PM - 5:09PM
            </div>
        </div>
        <div class="task-in-job">
            <div class="cirle-status task-pending">
                <i class="fa fa-circle"></i>
            </div>
            <div class="task-in-job-detail">
                Pick Latif up from [Address] around 4:20PM
            </div>
        </div>
    </div>
</script>
